.message-wrapper {
  padding: 0.5em;
}
.message {
  display: table-cell;
  width: 100%;
  padding: 0.5em;
  box-shadow: 0 0 0.5em 0.1em #99AB4E;
  -moz-box-shadow: 0 0 0.5em 0.1em #99AB4E;
  -webkit-box-shadow: 0 0 0.5em 0.1em #99AB4E;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}
.message__index {
  display: inline-block;
  width: 3em;
  vertical-align: top;
}
.message__body {
  display: inline-block;
  width: 45em;
}
.message__body__content {
  white-space: pre-wrap;
  word-break: break-all;
}
.message__body__auth {
}
.message__body__auth__name {
  display: inline-block;

}
.message__body__auth__date {
  display: inline-block;

}
