<div v-if="showModal">
  <transition name="modal">
    <div class="modal info">
      <div class="modal__header">
        <slot name="header">
          {{ modal.title }}
        </slot>
      </div>
      <div class="modal__body">
        <slot name="body">
          {{ modal.message }}
        </slot>
      </div>
      <div class="modal__footer">
        <slot name="footer">
          <button class="modal__button" v-on:click="ok">
            OK
          </button>
        </slot>
      </div>
    </div>
  </transition>
</div>
