<div>
    <ul>
        <li v-for="room in rooms" v-bind:key="room.room_id">
            <label v-bind:title="room.title" v-on:click.prevent="openRoom(room.room_id)">
                ID: {{room.room_id}}, Title: {{room.title}}
            </label>
            <button type="button" v-on:click.prevent="deleteRoom(room.room_id)">Delete</button>
        </li>
    </ul>
    <div>
        <label for="room-title">Room Create</label>
        <input id="room-title" type="text" placeholder="title" v-model="title"/>
        <button type="button" v-on:click.prevent="createRoom">Create</button>
    </div>
    <room v-bind:room-id="roomId" v-on:close-room="closeRoom"></room>
</div>
