.selected {
  background-color: #F7C114;
}
.room-list {
  height: auto;
  padding: 0 0.5em 0;
}
.room-list:hover {
  filter: brightness(50%);
}
.room-list__label {
  min-width: 6em;
  max-width: 10em;
  overflow: auto;
  float: left;
}
.room-list__button {
  float: right;
  margin-top: 0.4em;
}
