.side-menu {
  width: 10em;
  max-height: 45em;
  background-color: black;
  color: white;
  padding: 1em;
  position: fixed;
}
* html .sideMenu {
  position: absolute;
  top: expression(eval(document.documetElement.scrollTop+100));
}
.side-menu__title {
  margin: 0.5em;
}
.side-menu__list {
  height: 35em;
  overflow: scroll;
  background-color: gray;
}
.side-menu__form {
  margin: 0.5em;
}
