div.sideMenu {
    width: 200px;
    background: #F7F7F7;
    padding: 10px;
    position: fixed;
    top: 100px;
    z-index: 20;
}
* html div.sideMenu {
    position: absolute;
    top: expression(eval(document.documetElement.scrollTop+100));
}
