<header class="app-header">
  <h3 class="app-header__title">
    <router-link to="/">Websocket Test</router-link>
  </h3>
  <nav class="app-header__nav">
    <ul>
      <li>
        <a href="javascript:void(0)"@click.stop="onToggleMenu">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <router-link to="/login" v-if="!isLogin">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
        </router-link>
      </li>
      <li>
        <a href="javascript:void(0)" v-if="isLogin" @click.stop="onLogout">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
