<header class="header">
  <h3 class="header__title">
    <router-link :to="{ name: 'home' }">Websocket Test</router-link>
  </h3>
  <nav class="header__nav">
    <ul>
      <li>
        <a href="javascript:void(0)" @click.stop="onToggleMenu">
          <i class="fa fa-bars header__nav__icon" aria-hidden="true"></i>
        </a>
      </li>
      <li v-if="!isLogin">
        <router-link :to="{ name: 'login' }">
          <i class="fa fa-sign-in header__nav__icon" aria-hidden="true"></i>
        </router-link>
      </li>
      <li v-if="isLogin">
        <a href="javascript:void(0)" @click.stop="onLogout">
          <i class="fa fa-sign-out header__nav__icon" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
