.app-header {
  height: 2em;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: #98D98E;
  color: #00786C;
}
.app-header__title {
  margin-left: 1em;
  display: inline-block;
  float: left;
}
.app-header__nav {
  margin-right: 1em;
  display: inline-block;
  float: right;
}
.app-header__nav > ul > li {
  display: inline-block;
}
