.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-height: 2em;
  width: 100%;
  background-color: #00786C;
  color: #98D98E;
}
.header__menu {
  float: left;
  margin-left: 1em;
  display: table-cell;
  height: 2em;
}
.header__menu__link {
  vertical-align: middle;
}
.header__nav {
  float: right;
  letter-spacing: -0.5em;
}
.header__nav__list {
  display: inline-block;
  letter-spacing: normal;
  margin-right: 1em;
}
.header__menu__icon,
.header__nav__list__icon:hover {
  filter: brightness(50%);
}
