.header {
  height: 2em;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: #98D98E;
  color: #00786C;
}
.header__title {
  margin: 0 1em 0;
  display: inline-block;
  float: left;
}
.header__title:hover {
  filter: brightness(50%);
}
.header__nav {
  display: inline-block;
}
.header__nav__icon:hover {
  filter: brightness(50%);
}
.header__nav > ul > li {
  display: inline-block;
  margin: 0 0.1em 0;
}
