.menu-wrapper {
  -webkit-order: 0;
  order: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-flex-basis: 15em;
  flex-basis: 15em;
}
.menu {
  position: fixed;
  z-index: 50;
  box-sizing: border-box;
  width: 15em;
  height: 100%;
  padding: 0.5em 1em 1em 1em;
  background-color: #98D98E;
  color: #00786C;
}
.menu__close {
  width: 100%;
}
.menu__close__icon {
  float: right;
}
.menu__close__icon:hover {
  filter: brightness(50%);
  cursor: pointer;
}
.menu__title {
  margin: 0.5em;
}
.menu__list {
  max-height: 35em;
  overflow: scroll;
  background-color: #E4DC8A;
}
.menu__form {
  margin: 0.5em;
}
